<p id="notice"><%= notice %></p>

<p>
  <b>Heading:</b>
  <%= @content_block.heading %>
</p>
<p>
  <b>Content:</b>
  <%= raw(@content_block.content) %>
</p>

<p>
  <b>Section:</b>
  <%= @content_block.section_id %>
</p>
<p>
  <b>Position:</b>
  <%= @content_block.position %>
</p>
  <b>ID:</b>
  <%= @content_block.id %>
</p>


<%= link_to 'Edit', edit_content_block_path(@content_block) %> |
<%= link_to 'Back to Section', admin_back_path(:section_id => @content_block.section_id) %>
