<div id="mainContent">
<p>
<h2>History for Section <%= @content_blocks.first.section_id %>, Page Order <%= @content_blocks.first.position %></h2>
<% @content_blocks.each do |c| %>
	<hr />
CB id <%= c.id %>, editor is <%= c.user.name %>
	<% if  c.heading != "IMAGE" %> 
		<h3><%= c.heading %></h3>
	<% end %>	
	<%= raw(c.content) %>
	<% id = c.position %>

<% end %>
</div> <!-- #mainContent -->