
			<div id="mainContent" style="padding-top: 50px;">
				<div id="aboutContent" >
					<div class="subtopicHeading" >Background 					</div>
					<% if @open_section == "background" %>
						<span id="bgIcon" class="ui-icon ui-icon-minusthick"></span>
					<div id="background">
					<% else %>
						<span id="bgIcon" class="ui-icon ui-icon-plusthick"></span>
					<div id="background" style="display: none">
					<% end %>
						<% @content_blocks_bg.each do |c| %>
								<h3><%= c.heading %></h3>	
								<%= raw(c.content) %>
						<% end %>
					</div><!-- #background -->

					<div class="subtopicHeading" >Activities</div>
					<% if @open_section == "activities" %>
						<span id="activitiesIcon" class="ui-icon ui-icon-minusthick"></span>
					<div id="activities" >
					<% else %>
						<span id="activitiesIcon" class="ui-icon ui-icon-plusthick"></span>
					<div id="activities" style="display: none" >
					<% end %>
					<% @content_blocks_activities.each do |c| %>
								<h3><%= c.heading %></h3>	
								<%= raw(c.content) %>
						<% end %>						
					</div><!-- #activities -->

					<div class="subtopicHeading" >Member Organizations						</div>
					<% if @open_section == "members" %>
						<span id="membersIcon" class="ui-icon ui-icon-minlusthick"></span>
						<div id="members" >
					<% else %>
						<span id="membersIcon" class="ui-icon ui-icon-plusthick"></span>
						<div id="members" style="display: none;">
					<% end %>
						<% @content_blocks_members.each do |c| %>
								<h3><%= c.heading %></h3>	
								<%= raw(c.content) %>
						<% end %>
					</div>
				
					
					<div class="subtopicHeading" >Board					</div>
					<% if @open_section == "board" %>									
							<span id="boardIcon" class="ui-icon ui-icon-minusthick"></span>
							<div id="board" >
					<% else %>									
							<span id="boardIcon" class="ui-icon ui-icon-plusthick"></span>
							<div id="board" style="display: none;">
					<% end %>
						<% @content_blocks_board.each do |c| %>
								<h3><%= c.heading %></h3>	
								<%= raw(c.content) %>
						<% end %>
					</div>
					
					<div class="subtopicHeading" >Staff						</div>
					<% if @open_section == "staff" %>
						<span id="staffIcon" class="ui-icon ui-icon-minusthick"></span>
						<div id="staff" >
					<% else %>
						<span id="staffIcon" class="ui-icon ui-icon-plusthick"></span>
						<div id="staff" style="display: none;">
					<% end %>
						<% @content_blocks_staff.each do |c| %>						
						<h3><%= c.heading %></h3>	
								<%= raw(c.content) %>
						<% end %>
					</div>	
				</div><!-- #aboutContent -->
			</div> <!-- #mainContent -->
			<% content_for :javascript do %>	  
			<script>

			$(document).ready(function() {

					$( '.ui-icon').click(function() {
						$(this).toggleClass('ui-icon-minusthick').toggleClass('ui-icon-plusthick');
					  	$(this).next().toggle('blind');

					});
					$("[rel=footnote]").inlineFootnote();	
				});
				</script>
				<% end %>