<div id="mainContent">
	<div id="upovContent" >
		<img src="images/policy.jpg">
		<h1 style="margin-top: 20px;">The Convention for the Protection of New Varieties of Plants (UPOV)</h1>
		<div class="subtopicHeading" >Historical Context
			<span id="histIcon" class="ui-icon ui-icon-minusthick"></span>
		</div>
		<div id="history">
			The initiative to establish IP rights for plant varieties developed in the 1950s when plant breeding became an economically promising endeavor and began to attract the interest of private companies. To understand the origins of the UPOV system, it is useful to understand the context in which it arose, specifically the growth of private sector involvement in plant breeding.
			</p><p>
			Prior to the 1960s, IP protection of plant varieties was uncommon. Until the late 1800s, crop varieties were developed by the trial and error selection of farmers. Seed was set aside from the current crop to be used for the following season. Mendel’s discovery of the laws of inheritance in the late 19th century established the foundation for scientific breeding and ushered in the start of a separation of farming and plant breeding in industrialized countries. As large-scale commercial agriculture developed, professional breeders focused on producing uniform varieties that were conducive to mechanized agriculture and designed to produce higher yields under specific conditions. Rather than saving their own seed, farmers as they became separated from breeding in industrialized countries, became purchasers of commercially-bred varieties from seed companies. Simultaneously, agricultural research, which for most of the 20th century was publicly funded, shifted increasingly to funding by the private sector, at least in industrialized countries.
			</p><p>
			The professional plant improvement system is centralized, sequential and linear process.<sup id="fnref:2"><a href="#fn:2" rel="footnote">2</a></sup>  The Green Revolution of the 1960s and 80s was public sector-led and did not involve intellectual property. It was based on the development of high yielding varieties by centralized international public sector breeding programs and the ability to manufacture nitrogen fertilizer and apply water through irrigation technologies. Starting with high-yielding wheat and rice varieties, uniform varieties that responded well to external inputs resulted in a doubling of yields in many developing countries of Asia and Latin America. Whether public sector or private sector, the professional improvement system is based on the ability to widely distribute improved varieties by standardizing field conditions through the provision of inputs such as fertilizer and water through irrigation.
			</p><p>
			Today, the professional plant improvement system in industrialized countries is led by the private sector. The private sector is interested in markets. Varieties with wide applicability can be grown in large areas and enjoy economies of scale, i.e., large markets. The economic incentive is therefore to develop varieties with large potential occupied acreage. It was this growing involvement of the private sector in plant breeding that generated the drive for intellectual property protection for plant varieties. To have market demand, the private sector needs farmers to regularly buy seed rather than saving it themselves. Because seeds are self-replicable, farmers can reproduce them easily. If farmers reproduce the seeds of newly created varieties can be reproduced rather than buying them private sector plant breeders are unable to profit from their newly developed varieties. Establishing IP protection over new varieties gives breeders exclusive rights to produce and sell those varieties enabling them to be financially compensated for their professional activities in plant improvement.
			</p><p>
			The private sector’s interest is in markets or potential markets. Most developing countries are agriculture-based economies where smallholder farming accounts for about 75 percent of agricultural production and over 75% of employment. Half the food today is produced by 1.5 million farmers on small plots of land where uniform varieties and external input packages are unlikely to ever be sustainable. In these areas farm-based seed development is critical to resiliency. Farmers’ varieties[define and link to section of the website on the importance of diversity] are selected for a range of traits and help ensure that some crops will grow even in the face of unexpected environmental or other change [cite to Carlo Fadda on pests and disease and diversity in Uganda) In addition, on-farm diversity is a major and direct contributor to the nutrition and health of the community and offers economic and social opportunities that contribute to livelihoods and maintenance of social and cultural values. The differences in farming systems globally are important to note, not as a means to devalue the role of intellectual property as an incentive system, but as a means to understand more precisely what it does, can and is not designed to do. The market and the private sector may provide some tools to achieve the objective of food security, but alone, they cannot fully satisfy the objective. To meet the challenges of rapid global change, food security and poverty alleviation, we need a more inclusive approach that recognizes the strengths and limitations of various sectors and how we come together more effectively.
			</p>

<<<<<<< HEAD
			
=======
		<div class="subtopicHeading">Historical Context</div>
		<% if @open_section == "history" %>
			<span id="historyIcon" class="ui-icon ui-icon-minusthick" ></span>
		<div id="history" >
		<% else %>
		<span id="historyIcon" class="ui-icon ui-icon-plusthick" ></span>
			<div id="history" style = "display: none"  >
		<% end %>
			<% @content_blocks_history.each do |c| %>
					<h3><%= c.heading %></h3>	
					<%= raw(c.content) %>
			<% end %>	
>>>>>>> cf9acda12473e1ed0ac469d6c2484a2c14041fd5
		</div><!-- #historical context -->
		<div class="subtopicHeading" >The origins of UPOV
			<span id="originIcon" class="ui-icon ui-icon-plusthick"></span>
<<<<<<< HEAD
			</div>
		</div>
		<div id="origins" style="display: none;">
				The International Union for the Protection of New Varieties of Plants (UPOV) is an intergovernmental organization based in Geneva, Switzerland. UPOV was established in 1961 by the International Convention for the Protection of New Varieties of Plants (the "UPOV Convention"<sup id="fnref:3"><a href="#fn:3" rel="footnote">3</a></sup> ) and is the sole international agency concerned with intellectual property protection of new plant varieties.
			</p><p>
				The UPOV Convention establishes a type of intellectual property right called plant breeders’ rights (PBRs) or plant variety protection (PVP).  The treaty “provides a sui generis<sup id="fnref:4"><a href="#fn:4" rel="footnote">4</a></sup> form of intellectual property protection which has been specifically adapted for the process of plant breeding and has been developed with the aim of encouraging breeders to develop new varieties of plants.”<sup id="fnref:5"><a href="#fn:5" rel="footnote">5</a></sup> 
			</p><p>
				The original impetus for creating UPOV came from three organizations based in Europe:  a commercial plant breeders’ trade association formed to promote plant variety protection, an organization with a mandate to promote industrial patents<sup id="fnref:6"><a href="#fn:6" rel="footnote">6</a></sup>, and the International Chamber of Commerce.  Six countries from Western Europe founded UPOV.<sup id="fnref:7"><a href="#fn:7" rel="footnote">7</a></sup> 
			</p><p>
				There are four versions of UPOV, the original adopted in 1961 and three revisions in 1972, 1978 and 1991.  Only the 1991 version is open to new members. Originally, UPOV consisted solely of European State Members, growing to include other industrialized countries.  With growing trade agreements, and in particular the World Trade Organization’s Agreement on Trade-related Aspects of Intellectual Property Rights [link to part of the website that has the international legal landscape] there are growing developing country Parties and a growing interest and pressure for developing countries to join the UPOV Convention.  Today, there are 70 parties to various versions of the Convention.
			</p>

		
			
=======
			<div id="origins" style = "display: none">
		<% end %>
			<% @content_blocks_origins.each do |c| %>
					<h3><%= c.heading %></h3>	
					<%= raw(c.content) %>
			<% end %>
>>>>>>> cf9acda12473e1ed0ac469d6c2484a2c14041fd5
		</div><!-- #origins -->
		<div class="subtopicHeading" >Main provisions of UPOV<sup id="fnref:8"><a href="#fn:8" rel="footnote">8</a>
			<span id="provisionsIcon" class="ui-icon ui-icon-plusthick"></span>
<<<<<<< HEAD
			</div>
		<div id="provisions" style="display: none;">
				<p>
				In conceiving the UPOV system, European breeders wanted a mechanism for capturing economic value for the varieties developed while recognizing that breeders need to have access to the widest genetic diversity possible in order to create new varieties [link to a part on the site that I want to have that answers ‘what is plant breeding?’ And gives a few paragraphs on plant breeding techniques.]  The goal was for plant breeders’ rights to grant free access to genetic resources while protecting breeders’ innovations.
				</p><p>
				The UPOV Convention contains very detailed and specific provisions.  The governing body of the Convention meets twice a year and there are numerous technical working groups and subsidiary bodies that meet throughout the year discussing a wide-range of issues. The UPOV website provides the terms of reference and composition of the UPOV bodies and a brief history of their development<sup id="fnref:9"><a href="#fn:9" rel="footnote">9</a></sup>.  
				</p><p>
				All four versions of UPOV require that a plant variety be new, distinct, homogenous (uniform) and stable in order to be eligible for protection.  The original Crucible Group noted that the criterion of homogeneity reinforces the trend towards genetic uniformity, thus leading to a higher degree of vulnerability in farmers’ fields.  The criterion also excludes the possibility of protecting most landraces and traditional varieties.  On the other hand, loosening the uniformity criterion would likely lead to broader property claims.  If claims were broader there might be a need for a corresponding limitation of the nature of the right granted in order to prevent an unacceptable "locking up" of the system.
				</p><p>
				The trend, however, is toward a strengthening of the rights granted.  The growth of biotechnology and the possibility of formal patent coverage created pressure leading to the 1991 revision of UPOV.  UPOV 1991:
				<ol style="list-style-type: decimal;"><li>
				Extends the rights of holders beyond the reproductive material to the harvested material and products obtained through illegal use of propagating material.
				</li><li>
				Allows members the legal option for patent or UPOV style protection.
				</li><li>
				Extends coverage to cover all plant genera and species. Extending the rights of holders to harvested material has significant implications for the rights of farmers’ to save seed for re-planting.  Rather than assuring this right, UPOV 1991 gives members the option of allowing farmers to save seed for their own use.  Without positive action by the UPOV member, the right is lost.
				</li></ol>
				<p>
				In addition, authorization of the right-holder is required for the use of the material of varieties which have been essentially derived from a protected variety.
				</p><p>
				The term "essentially derived" is not defined but was intended to halt the process of cosmetic breeding whereby one or two easy and unimportant characteristics were changed and protection sought for a new variety.  Reinforced by advances in technology which make smaller differences between varieties achievable and detectable, the trend has been toward a narrowing of permissible distinctions between varieties.  The criterion of distinctiveness is likely to be similarly affected.</p>				
			
		</div>
	
		<div class="subtopicHeading" >Institutional Infrastructure
				<span id="instIcon" class="ui-icon ui-icon-plusthick"></span>
		</div>
		<div id="infrastructure" style="display: none;">
			<p>
				UPOV is housed and serviced by the World Intellectual Property Rights Organization [link to international legal landscape section of website] in Geneva, Switzerland. Though UPOV is a separate legal entity, its ties with WIPO are close. WIPO’s Director-General is the Secretary-General of the UPOV with the power to approve the appointment of UPOV’s Vice-Secretary General. 
			</p><p>
				WIPO provides certain administrative and practical services to UPOV in accordance with a 1982 agreement.<sup id="fnref:10"><a href="#fn:10" rel="footnote">10</a></sup>By the agreement, UPOV pays WIPO for services incurred by WIPO on behalf of UPOV. The agreement also confirms the UPOV’s autonomy from WIPO’s International Bureau with respect to the exercise of their functions.
			</p><p>
				The UPOV Council is the highest body in its institutional infrastructure. It is made of one representative of each UPOV member state and has a President and Vice-President each elected for a three-year term.<sup id="fnref:11"><a href="#fn:11" rel="footnote">11</a></sup>The current President, Dr. Keun Jin CHOI, from the Republic of Korea, will finish his term in October 2012.<sup id="fnref:12"><a href="#fn:12" rel="footnote">12</a></sup>
			</p><p>
				Regular sessions of the Council take place in once a year in October, but in recent years it has tended to meet twice, once in the fall and once in March or April.<sup id="fnref:13"><a href="#fn:13" rel="footnote">13</a></sup>Countries that have not ratified the UPOV Convention may send observers as can organizations that have been granted observer status. A growing number of countries committed to joining UPOV 1991 as the result of bilateral and regional trade agreements has meant there a growing number of country observers at UPOV<sup id="fnref:14"><a href="#fn:14" rel="footnote">14</a></sup>. 
			</p><p>
				The Consultative Committee sits below the Council in UPOV’s institutional structure and is the only UPOV body not open to observers. One of the responsibilities of the Consultative Committee is decision-making regarding “the granting of observer status to non-governmental organizations.”<sup id="fnref:15"><a href="#fn:15" rel="footnote">15</a></sup>The Consultative Committee discussed new rules for granting observer status at its meeting in March 2012, but because these discussions are not open to observers, it is not clear what changes are being considered.
			</p><p>
				Two committees sit below the Consultative Committee: the Legal and Administrative Committee (CAJ) and the Technical Committee. The Administrative and Legal Committee Advisory Group (CAJ-AG) supports the CAJ. The Working Group on Biochemical and Molecular Techniques and DNA-Profiling in Particular (BMT) support the Technical Working Group as do five Technical Working Parties covering Agricultural Crops (TWA), Fruit Crops (TWF), Ornamental Plants and Forest Trees (TWO), Vegetables (TWV) and Automation and Computer Programs (TWC). Ad hoc subgroups assist the BMT, including the Ad hoc Subgroup of Technical and Legal Experts on Biochemical and Molecular Techniques (BMT Review Group) and the Ad hoc Subgroup on Molecular Technologies.
			</p><p>
				It is often argued that it is messy or too complicated to develop international innovation policy that is supportive the heterogeneous, agro-ecosystems where no single agro-ecosystem dominates the landscape. It is important to note that the international policy system in place to support the mainstream global crop improvement system<sup id="fnref:16"><a href="#fn:16" rel="footnote">16</a></sup> is a complex legal and institutional infrastructure that is not cheap to administer &mdash; the UPOV budget for the 2012-2013 Biennium is US$ 7,596,960 (7,238,000 Swiss Francs)<sup id="fnref:17"><a href="#fn:17" rel="footnote">17</a></sup> &mdash; in addition to being consistently negotiated, discussed and interpreted. 

				</p>
=======
		<div id="provisions" style = "display: none" >
		<% end %>
			<% @content_blocks_provisions.each do |c| %>
					<h3><%= c.heading %></h3>	
					<%= raw(c.content) %>
			<% end %>
		</div>
		<div class="subtopicHeading" >Infrastructure		</div>
		<% if @open_section == "infrastructure" %>
			<span id="infrastructureIcon" class="ui-icon ui-icon-minusthick"></span>
			<div id="infrastructure">
		<% else %>
			<span id="infrastructureIcon" class="ui-icon ui-icon-plusthick"></span>
		<div id="infrastructure" style = "display: none">
			<%  end %>
			<% @content_blocks_infrastructure.each do |c| %>
					<h3><%= c.heading %></h3>	
					<%= raw(c.content) %>
			<% end %>
>>>>>>> cf9acda12473e1ed0ac469d6c2484a2c14041fd5
		</div>
		<div class="subtopicHeading" >Footnotes
				<span id="footnotesIcon" class="ui-icon ui-icon-plusthick"></span>
				</div>
		<div id="footnotes" style="display: none;">
			
				<div class="footnotes">
				 <hr>
				<ol>
				   <li id="fn:1">
				    <p>
				     	For more information see: <a href="http://www.upov.int/overview/en/upov.html">What is UPOV? (UPOV website)</a> and 
							<a href="http://tinyurl.com/econimic-issues-study"> Food, Biological Diversity and Intellectual Property:
							The Role of the International Union for the Protection of New Varieties of Plants (UPOV)</a>
				 </p>
				    <a href="#fnref:1" rev="footnote">↩</a>   
				   </li>

				   <li id="fn:2">
				    <p>
				     Masa Iwanaga and rainbow revolution, [citing or see also] Sperling et al (2001), “A Framework for Analyzing Participatory Plant Breeding Approaches and Results”, Euphytica, Vol. 122, pp 439-450.
				  </p>
				    <a href="#fnref:2" rev="footnote">↩</a>  
				   </li>
				<li id="fn:3">
				    <p>
				     UPOV is the French acronym for the Union International pour la Protection des Obententions Vegetales which is the name of the organization that the International Convention (called the UPOV Convention) established. </p>
				    <a href="#fnref:3" rev="footnote">↩</a>    
				   </li>
				   <li id="fn:4">
				    <p>
				     Sui generis is a Latin expression, literally meaning "of its own kind/genus" or unique in its characteristics <a href="http://dictionary.reference.com/browse/sui+generis"> Dictionary.com entry accessed June 16, 2012</a> </p>
				<a href="#fnref:4" rev="footnote">↩</a> 
				   </li>
				   <li id="fn:5">
				    <p>
				     <a href="http://www.upov.int/about/en/overview.html">Introduction to UPOV (multimedia presentation) accessed June 16, 2012</a> </p>
				    <a href="#fnref:5" rev="footnote">↩</a>   
				   </li>
				   <li id="fn:6">
				    <p>
				     The International Association for the Protection of Intellectual Property (AIPPI) and the International Association of Plant Breeders (ASSINSEL). </p>
				    <a href="#fnref:6" rev="footnote">↩</a>

				   </li>
				   <li id="fn:7">
				    <p>
				     12 European countries participated the 1961 conference that led to the adoption of the UPOV Convention.  What subsequently became the International Bureau for the World Intellectual Property Rights Organization and the Food and Agriculture Organization attended the conference as observers. </p>
				    <a href="#fnref:7" rev="footnote">↩</a>   
				   </li>
				 	<li id="fn:8">
					    <p>
					     The texts of the various UPOV treaties can be found <a href="http://www.upov.int/upovlex/en/acts.html">here</a>
			 </p><a href="#fnref:8" rev="footnote">↩</a>		   
					   </li>
					<li id="fn:9">
					    <p>The term "essentially derived" is not defined but was intended to halt the process of cosmetic breeding whereby one or two easy and unimportant characteristics were changed and protection sought for a new variety.  Reinforced by advances in technology which make smaller differences between varieties achievable and detectable, the trend has been toward a narrowing of permissible distinctions between varieties.  The criterion of distinctiveness is likely to be similarly affected.</p>
			 			<a href="#fnref:9" rev="footnote">↩</a>
					   </li>
					<li id="fn:10">
					  <p>
					    UPOV (1982). Agreement between the World Intellectual Property Organization &amp; and the International Union for the Protection of New Varieties of Plants signed on November 26, 1982 [UPOV/INF/8]  <a href="http://www.upov.int/edocs/infdocs/en/upov_inf_8.pdf">PDF</a>
					 </p>
					  <a href="#fnref:10" rev="footnote">↩</a>  
					  </li>

					  <li id="fn:11">
					  <p>
					   UPOV/INF/7 rule 3  <a href="http://www.upov.int/edocs/infdocs/en/upov_inf_7.pdf">PDF</a>
					 </p>
					  <a href="#fnref:11" rev="footnote">↩</a> 
					  </li>
					<li id="fn:12">
					  <p>
					   <a href="http://www.upov.int/export/sites/upov/en/documents/pp_seminar_april_2011/keun_jin_choi_bio.pdf">PDF</a>
					 </p>
					  <a href="#fnref:12" rev="footnote">↩</a> 
					  </li>
					<li id="fn:13">
					  <p>
					   See <a href="http://www.quno.org/geneva/pdf/economic/Issues/UPOV%20study%20by%20QUNO_English.pdf">document</a> section 5, page 12.
					 </p>
					  <a href="#fnref:13" rev="footnote">↩</a> 
					  </li>
					<li id="fn:14">
					  <p>
					   Need a cite to examples of trade agreements with this obligation.
					 </p>
					  <a href="#fnref:14" rev="footnote">↩</a> 
					  </li>
					<li id="fn:15">
					  <p>
					   	UPOV (2005) Rules governing the granting of observer status to states, intergovernmental organizations and international non-governmental organizations in UPOV bodies and access to UPOV documents, adopted by the Council on October 7, 2005 [C/39/13] <a href="http://www.upov.int/export/sites/upov/en/documents/c/39/c_39_13.pdf">PDF</a>
					 </p>
					  <a href="#fnref:15" rev="footnote">↩</a>  
					  </li>
					<li id="fn:16">
					  <p>
					   	Which involves “homogenizing” agro-ecosystems through external inputs such as fertilizer and water delivered through irrigation systems [note to self: may want to cite to other parts of the website, particularly the main background section.] </p>
					  <a href="#fnref:16" rev="footnote">↩</a>  
					  </li>
					<li id="fn:17">
					  <p>
					   <a href="http://www.upov.int/edocs/mdocs/upov/en/c_45/c_45_4_rev_2.pdf">	UPOV (2011) C/45/4 Rev 2 </a>
					 </p>
					  <a href="#fnref:17" rev="footnote">↩</a>  
					  </li>
				  </ol>
				 </div>
			</div>
			
	</div><!-- #aboutContent -->
</div> <!-- #mainContent -->
<% content_for :javascript do %>	  
<script>
$(document).ready(function() {

    if("<%= upovSection %>"  == "historical") {
	}
	else  {
		if("<%= upovSection %>"  == "origins") {
			document.getElementById('history').style.display = 'none'; 
		    document.getElementById('origins').style.display = 'block'; 
			$( '#histIcon').removeClass("ui-icon-minusthick").addClass("ui-icon-plusthick");	
			$( '#originIcon').removeClass("ui-icon-plusthick").addClass("ui-icon-minusthick");
		}
		else  {
			if("<%= upovSection %>"  == "provisions") {
				document.getElementById('history').style.display = 'none'; 
				document.getElementById('provisions').style.display = 'block'; 
				$( '#histIcon').removeClass("ui-icon-minusthick").addClass("ui-icon-plusthick");	
				$( '#provisionsIcon').removeClass("ui-icon-plusthick").addClass("ui-icon-minusthick");
			}
			else  {
				if("<%= upovSection %>"  == "infrastructure") {
					document.getElementById('history').style.display = 'none'; 
					document.getElementById('infrastructure').style.display = 'block'; 
					$( '#histIcon').removeClass("ui-icon-minusthick").addClass("ui-icon-plusthick");	
					$( '#instIcon').removeClass("ui-icon-plusthick").addClass("ui-icon-minusthick");
				}
				
			}
		}
	}
});

$(document).ready(function() {	
	
		$( '#histIcon').click(function() {
		  	$( '#history').toggle('blind');
		 	$( '#histIcon').toggleClass('ui-icon-minusthick');
			$( '#histIcon').toggleClass('ui-icon-plusthick');
		});
		$( '#originIcon').click(function() {
		  	$('#origins').toggle('blind');
		 	$( '#originIcon').toggleClass('ui-icon-minusthick');
			$( '#originIcon').toggleClass('ui-icon-plusthick');		      
		});
		$( '#footnotesIcon').click(function() {
		  	$( '#footnotes').toggle('blind');
		 	$( '#footnotesIcon').toggleClass('ui-icon-minusthick');
			$( '#footnotesIcon').toggleClass('ui-icon-plusthick');			      
		});
		$( '#provisionsIcon').click(function() {
		  	$( '#provisions').toggle('blind');
		 	$( '#provisionsIcon').toggleClass('ui-icon-minusthick');
			$( '#provisionsIcon').toggleClass('ui-icon-plusthick');			      
		});
		$( '#instIcon').click(function() {
		  	$( '#infrastructure').toggle('blind');
		 	$( '#instIcon').toggleClass('ui-icon-minusthick');
			$( '#instIcon').toggleClass('ui-icon-plusthick');			      
		});
		$("[rel=footnote]").inlineFootnote();	
	});
	</script>
<% end %>
