<div id="mainContent">
	<div id="upovContent" >
			
		<img src="/assets/policy.jpg">
		<div padding-top: 50px;>&nbsp;</div>
		
		<h1 style="margin-top: 20px;">The Convention for the Protection of New Varieties of Plants (UPOV)</h1>

		<div class="subtopicHeading">Historical Context</div>
		<% if @open_section == "history" %>
			<span id="historyIcon" class="ui-icon ui-icon-minusthick" ></span>
		<div id="history" >
		<% else %>
		<span id="historyIcon" class="ui-icon ui-icon-plusthick" ></span>
			<div id="history" style = "display: none"  >
		<% end %>
			<% @content_blocks_history.each do |c| %><li>
					<h3><%= c.heading %></h3>	
					<%= raw(c.content) %></li>
			<% end %>	
		</div><!-- #historical context -->
		<div class="subtopicHeading" >Origins		</div>
		<% if @open_section == "origins" %>
			<span id="originIcon" class="ui-icon ui-icon-minusthick"></span>
		<div id="origins" >
		<% else %>
			<span id="originIcon" class="ui-icon ui-icon-plusthick"></span>
			<div id="origins" style = "display: none">
		<% end %>
			stuff
			<% @content_blocks_origins.each do |c| %><li>
					<h3><%= c.heading %></h3>	
					<%= raw(c.content) %></li>
			<% end %>
		</div><!-- #origins -->
		<div class="subtopicHeading" >Main Provisions		</div>
		<% if @open_section == "provisions" %>
			<span id="provisionsIcon" class="ui-icon ui-icon-minusthick"></span>		
			<div class="subtopicHeading" >Main Provisions		</div>
		<% else %>
			<span id="provisionsIcon" class="ui-icon ui-icon-plusthick"></span>
		<div id="provisions" style = "display: none" >
		<% end %>
			<% @content_blocks_provisions.each do |c| %><li>
					<h3><%= c.heading %></h3>	
					<%= raw(c.content) %></li>
			<% end %>
		</div>
		<div class="subtopicHeading" >Infrastructure		</div>
		<% if @open_section == "infrastructure" %>
			<span id="infrastructureIcon" class="ui-icon ui-icon-minusthick"></span>
			<div id="infrastructure">
		<% else %>
			<span id="infrastructureIcon" class="ui-icon ui-icon-plusthick"></span>
		<div id="infrastructure" style = "display: none">
			<%  end %>
			<% @content_blocks_infrastructure.each do |c| %><li>
					<h3><%= c.heading %></h3>	
					<%= raw(c.content) %></li>
			<% end %>
		</div>
			
	</div><!-- #aboutContent -->
</div> <!-- #mainContent -->
<% content_for :javascript do %>	  
<script>
$(document).ready(function() {
		$( '.ui-icon').click(function() {
			$(this).toggleClass('ui-icon-minusthick').toggleClass('ui-icon-plusthick');
		  	$(this).next().toggle('blind');

		});
	});
</script>
<% end %>
