<!DOCTYPE html>
<html>
<head>
  <title>Storit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag  "public_pages" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body >
	<div id="masterContainer">  
		<header>
			<%= render 'shared/admin_nav' %>
		</header>
		<% flash.each do |key, value| %>
	        <div class="alert alert-<%= key %>"><%= value %></div>
	      <% end %>
		<div id="mainContainer" style="clear: both; padding-top: 20px;">

		<%= yield %>
	</div>
</div>
	<%= yield :javascript %>	
</body>
</html>
