<!DOCTYPE html>
<html>
<head>
  <title>Seeds for All</title>
	<%= stylesheet_link_tag  "public_pages" %>
	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Andada" %>
	<%= stylesheet_link_tag    "allinone_contentSlider" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" %>
	<%= javascript_include_tag "jquery-inline-footnotes" %>
	<%= javascript_include_tag "allinone_contentSlider" %>
  <%= csrf_meta_tags %>
</head>
<body >
	<div id="masterContainer">  
		<header>
			<%= render 'shared/admin_nav' %>
		</header>
		<div id="mainContainer" style="clear: both">
		<%= yield %>
	</div>
</div>
	<%= yield :javascript %>	
</body>
</html>
