<!DOCTYPE html>
<html>
<head>
  <title>Storit</title>
  <%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag  "public_pages" %>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %> 			
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js", "rails.js" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Andada" %>
	<%= stylesheet_link_tag    "allinone_contentSlider" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "jquery-inline-footnotes" %>
	<%= javascript_include_tag "allinone_contentSlider" %>
  <%= csrf_meta_tags %>
</head>
<body >
	<div id="masterContainer">  
		<header>
			<%= render 'shared/nav' %>
		</header>
		<div id="mainContainer" style="clear: both">
		<%= yield %>
	</div>
</div>
	<%= yield :javascript %>	
</body>
</html>
